---
name: Metadata - PR

on: 
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  annotate-pr:
    name: Annotates PR
    runs-on: ubuntu-latest

    steps:
      - name: Annotate PR with metadata
        uses: amalay/custom-github-action-001@main
        with:
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          pr_number: ${{ github.event.number }}
          token: ${{ github.TOKEN }}
          # token: ${{ secrets.GITHUB_TOKEN }}
          